/* Write your CSS here */
.todo-item-container {
  background-color: transparent;
  height: 40px;
  width: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.todo-paragraph {
  color: #000000;
  font-size: 15px;
  font-family: 'Roboto';
}
.todo-button {
  background-color: transparent;
  height: 25px;
  width: 60px;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  border: 2px solid #ff0b37;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
